/* :root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
} */
/* Главная страница */
body {
 background-color: #FFFFFF;
 color: #757575;
 font-family: Roboto, sans-serif;
 letter-spacing: 0.03em;
}

ul {
 list-style:none;
}

a {
 text-decoration: none;
}


/* Верхняя линия */
/* Logo */
.header {
 letter-spacing: 0.02em;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
}
.logo {
 color: #2196F3;
 font-family: Raleway, cursive;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.14;
}
.logoblk {
    color: #000000;
}
.logo-white {
    color: #ffffff;
}
/* Site nav */
.site-nav .link {
    color: #212121;    
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link.current{
    color: #2196F3;
}
/* Auth nav */

.auth-nav .link {
    color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: #2196F3;
}
/* Main */
/* Hero */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */
.button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button:hover {
    background-color: #188CE8;
}
/* .button.primary{
   .button.secondary{  */

/* Section feature (Особености)*/

.section-feature{

}
.section-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}
.feature-list .title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    
}
.feature-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Work (Чем мы занимаемся) */
.section-work {

}
.work-list {

}
/* Team (Наша команда) */

.section-team {
    background-color: #F5F4FA;
}
.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/* Footer */
.footer {
    background-color: #2F303A;
}
/* Address */
.address-link {
    color:rgba(255, 255, 255, 0.6);
}
.address {
    color: #ffffff;
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address-link:hover,
.address-link:focus{
   color: #2196F3; 
}

/* Портфолио */

/* Button */
.btn-filter {
    color: #212121;
    background-color: #F5F4FA;
}
.btn-filter:hover,
.btn-filter:focus {
    color: #ffffff;
    background-color:#2196F3;
}
/* Gallery (Галерея) */
.gallery{

}
.gallery-title {
    color: #212121;
}
.gallery-text {
    color: #757575;
}