/* :root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
} */
/* Главная страница */
body {
     background-color: #FFFFFF;
     color: #757575;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
}

/* Button */
.button {
color:#ffffff ;
background-color: #2196F3;
}
.button:hover {
    background-color: #188CE8;
}
/* .button.primary{
   .button.secondary{  */
    
/* Верхняя линия */
/* Logo */
.header {

}
.logo {
 color: #2196F3;
}
.logoblk {
    color: #000000;
}
.logo-white {
    color: #ffffff;
}
/* Site nav */
.site-nav .link {
    color: #212121;    
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link.current{
    color: #2196F3;
}
/* Auth nav */

.auth-nav .link {
    color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: #2196F3;
}
/* Main */
/* Hero */
.hero {
    background-color: #2F303A;
    
}
.hero-title {
    color: #FFFFFF;
}
/* Section feature (Особености)*/
.section-feature{

}
.section-title {
    color: #212121;
}
.feature-list .title {
    color: #212121;
}
/* Work (Чем мы занимаемся) */
.section-work {

}
.work-list {

}
/* Team (Наша команда) */

.section-team {
    background-color: #F5F4FA;
}
.team-name {
    color: #212121;
}
/* Footer */
.footer {
    background-color: #2F303A;
}
/* Address */
.address-link {
    color:rgba(255, 255, 255, 0.6);
}
.address {
    color: #ffffff;
}
.address-link:hover,
.address-link:focus{
   color: #2196F3; 
}

/* Портфолио */

/* Button */
.btn-filter {
    color: #212121;
    background-color: #F5F4FA;
}
.btn-filter:hover,
.btn-filter:focus {
    color: #ffffff;
    background-color:#2196F3;
}
/* Gallery (Галерея) */
.gallery{

}
.gallery-title {
    color: #212121;
}
.gallery-text {
    color: #757575;
}